
body {
    background-image:url(bin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}


.logo-esquina:hover {
    transform: scale(1.1);
}
.dropdown {
    position: relative;
    display: inline-block;
}

.boton-menu {
    background-color: rgb(71, 195, 226);
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

.contenido-desplegable {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.contenido-desplegable a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.contenido-desplegable a:hover { background-color: rgb(71, 195, 226); }

.dropdown:hover .contenido-desplegable { display: block; }

.texto-seccion {
    display: none; 
    margin-top: 30px;
    padding: 20px;
    border: 2px solid  rgb(71, 195, 226);
    border-radius: 10px;
    background-color:  rgb(71, 195, 226);
}

.texto-seccion:target {
    display: block;
}